[Desktop Entry]
Version=1.0
Type=Application
Name=Charles
Comment=Charles proxy
Exec=/home/vagrant/Software/charles/bin/charles
Icon=/home/vagrant/Software/charles/icon/charles_icon.svg
Path=
Terminal=false
StartupNotify=true
